* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero-container {
    background-image: url(../images/hero-bg.png);
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navigation {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
    padding: 1rem 0rem;
    flex-wrap: wrap;

}

.overlay {
    position: absolute;
    background-color: rgba(25, 27, 38, .64);
    inset: 0;
    z-index: 1;
}

.navlists {
    list-style: none;
    display: flex;
    width: 35%;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;

}

.navlists li {
    border-radius: 50px;
    text-wrap: nowrap;
}

.navlists a {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    padding: .5rem 1rem;
    border-radius: 50px;
    box-sizing: border-box;
    width: 100%;
}

.navlogo img {
    width: 116px;
    height: auto;
}

.navlists a:hover {
    background-color: rgba(255, 255, 255, 0.082);

}

.navlists img {
    width: 15px;

}

.explore img {
    height: 10px;
}

.join {
    background-color: transparent;
    border: solid grey 1px;
    border-radius: 50px;
    box-sizing: border-box;


}

.upload {
    background-color: #14BC7D;
}

.upload:hover {
    background-color: #14ce8a !important;
}

.hero-section {
    width: 85%;
    margin: auto;
    padding: 5rem 6rem;
    color: white;
    position: relative;
    z-index: 2;

}

.hero-section h2 {
    font-size: 32px;

}



.first-part--hero-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.capitalize {
    text-transform: capitalize;
}

.hero-first-ul {
    padding: 1rem 0rem;
    width: 99%;
    overflow-x: auto;
    display: flex;
    list-style: none;
    gap: 0.5rem;

}

.hero-first-ul::-webkit-scrollbar,
.hero-second-ul::-webkit-scrollbar,
.masonry-scroll::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}

.hero-first-ul span,
.comunity-new {
    background-color: #14BC7D;
    color: white;
    padding: 0px 3px;
    border-radius: 5px;
    margin-left: 5px;
}

.hero-first-li {
    padding: .5rem .8rem;
    border-radius: 50px;
    text-wrap: nowrap;

}

.active {
    background-color: white;
    color: black;
}

.hero-section ul {
    display: flex;
    list-style: none;
    gap: 0.5rem;
    padding: 1rem 0rem;
    width: 95%;
    overflow: hidden;
    overflow-x: auto;
}

.hero-second-li {
    padding: .3rem .5rem;
    border-radius: 10px;
    text-wrap: nowrap;
    background-color: rgba(255, 255, 255, 0.228);
}

.ul-and-scroll {
    display: flex;
    align-items: center;
}

.ul-and-scroll img {

    height: 20px;
    margin-left: 20px;
}

.hero-form {
    background-color: rgba(255, 255, 255, 0.228);
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
}

.hero-form img {
    width: 15px;
}

.hero-form input {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    padding: 0.5rem;
    width: 100%;

}

.hero-form input::placeholder {
    color: white;
    font-size: larger;
}

.hero-footer {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    padding-bottom: 1rem;
    position: relative;
    z-index: 2;
}

.hero-footer a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.hero-footer span {
    text-decoration: underline;
}

.main-section-header {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    padding: 2rem 0rem;

}

.main-section-header h4 {
    /* text-wrap: nowrap; */
    font-size: 16px;
}

.editors-choice {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 1rem;
    justify-content: space-between;
    background-color: whitesmoke;
    border-radius: 50px;
    align-items: center;
    padding: 4px;
}

.editors-choice li {
    /* margin: 0.5rem 1rem; */
    padding: .5rem 1rem;
}

.editors-choice li a {
    text-decoration: none;
    color: grey;
    text-transform: capitalize;
    font-size: 14px;
}

.editor-active {
    background-color: white;
    padding: 0.5rem 3rem;
    border-radius: 50px;
}

.editor-active a {
    color: black !important;
    font-weight: 500;
}



.masonry-section {
    column-width: 300px;
    column-gap: 1.5rem;
    padding: 16px;
    max-width: 100%;

}



.masonry-section::after {
    content: "";
    position: absolute;
    bottom: -230vh;
    left: 0;
    width: 100%;
    height: 150px;
    /* how tall the smoke zone is */
    pointer-events: none;
    z-index: 5;

    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0) 0%,
            /* transparent top edge */
            rgba(255, 255, 255, 0.6) 25%,
            /* soft start */
            rgba(255, 255, 255, 0.95) 50%,
            /* thick bright center */
            rgba(255, 255, 255, 0.6) 75%,
            /* fading out */
            rgba(255, 255, 255, 0) 100%
            /* transparent bottom edge */
        );
}

.masonry {
    margin-bottom: 16px;
    break-inside: avoid;
    overflow: hidden;

}

.masonry img {
    width: 100%;
    display: block;
    /* border-radius: 10px; */
    transition: transform 0.3s ease;
}

.button-div {
    display: flex;
    justify-content: center;

}

.button-div button {
    background-color: whitesmoke;
    padding: 0.5rem 1rem;
    border: none;
    color: black;
    font-weight: 500;
    border-radius: 50px;
    font-size: 16px;
}

.free-media {
    display: flex;
    align-items: start;
    margin: 5rem auto;
    gap: 1rem;
    padding: 5rem 2.5%;
    border-top: solid rgba(128, 128, 128, 0.377) 1px;
    border-bottom: solid rgba(128, 128, 128, 0.377) 1px;
}

.free-media img {
    height: 20px;
    object-fit: contain;

}

.free-media h4 {
    font-size: 16px;
}

.free-media p {
    font-size: 14px;
    margin: 2rem 0rem;
    color: grey;
}

.free-media a {
    font-size: 14px;
    text-decoration: none;
    color: #14BC7D;
    font-weight: 500;
}

.free-media-image {

    background-color: #E5F6F0;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

}

.footer {
    width: 95%;
    margin: 5rem auto;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}

.footer-left p {
    color: grey;
    margin-top: 10px;
    /* margin-bottom: 10rem; */

}

.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.socials {
    display: flex;
    gap: 1rem;
    /* margin-top: 5rem; */
}

.socials img:hover {
    background-color: #14BC7D;
}

.socials img {
    width: 20px;

}

.footer-right {
    display: flex;
    /* width: 40%; */
    gap: 5rem;


}

.footer-right ul {
    line-height: 2;
    list-style: none;


}

.footer-right li {
    font-size: 16px;
    color: grey;
    text-wrap: nowrap;
}

.footer-right h4 {
    font-weight: 500;
}

.rights {
    text-align: center;
    background-color: whitesmoke;
    padding: 1rem 0rem;
    font-size: 12px;
    color: grey;
}

.rights a {
    color: black;
    text-decoration: none;
}

.rights a:hover {
    text-decoration: underline;
}